<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 px-4 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <span class="text-muted">&copy; 2022 Ultimate Media</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a class="text-muted" href="https://youtube.com/channel/UC2MXjKFQU6tQkKTM0n0IGNQ">
                <svg class="bi" width="24" height="24">
                    <use xlink:href="/assets/bootstrap-icons.svg#youtube"/>
                </svg>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-muted" href="https://github.com/ultimatemediaorg">
                <svg class="bi" width="24" height="24">
                    <use xlink:href="/assets/bootstrap-icons.svg#github"/>
                </svg>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-muted" href="https://twitter.com/ultimatemediagb">
                <svg class="bi" width="24" height="24">
                    <use xlink:href="/assets/bootstrap-icons.svg#twitter"/>
                </svg>
            </a>
        </li>
    </ul>
</footer>